
// Colors used to identify source language family

.src {
    &-inherited { background-color: #fff; }

    &-iranian { background-color: #cfc; }
    &-burushaski { background-color: #fc9; }
    &-hungarian { background-color: #ffc; }
    &-greek { background-color: #fdd; }
    &-slavic { background-color: #eef; }
    &-greek-slavic { background-color: #fdf; }
    &-mixed { background-color: #fda; }
}