
<link rel="stylesheet" type="text/css" href="./css/main.css">

{{#each blocks}}

    {{#with glossed}}
        {{#each this}}
            <p class="ann-sentence">
                {{#each this}}
                    {{#with word}}
                        <span class="ann-word">
                            {{> word }}
                        </span>
                    {{/with}}

                    {{#with sandhi}}
                        <span class="ann-sandhi"></span>
                    {{/with}}

                    {{#with punct}}
                        <span class="ann-punct">{{this}}</span>
                    {{/with}}
                {{/each}}
            </p>
        {{/each}}
    {{else}}
        {{{text}}}
    {{/with}}

{{/each}}