
<link rel="stylesheet" type="text/css" href="./css/main.css">

<div>
    <input type="radio" name="lang-filter" value="cs" id="lang-filter-cs" checked> <label for="lang-filter-cs">cs</label>
</div>
<div>
    <input type="radio" name="lang-filter" value="en" id="lang-filter-en"> <label for="lang-filter-en">en</label>
</div>

{{#each blocks}}

    {{#with glossed}}
        {{#each this}}
            <p class="ann-sentence">
                {{#each this}}
                    {{#with word}}
                        <span class="ann-word">
                            {{> word }}
                        </span>
                    {{/with}}

                    {{#with sandhi}}
                        <span class="ann-sandhi"></span>
                    {{/with}}

                    {{#with punct}}
                        <span class="ann-punct">{{this}}</span>
                    {{/with}}
                {{/each}}
            </p>
        {{/each}}
    {{else}}
        {{{text}}}
    {{/with}}

{{/each}}