{{#each (dfsFiltered lex.dfs refs.0.subkey)}}
    <span class="lang-{{lang}}">
        {{term}}
        {{gram}}
    </span>
{{/each}}

{{#each refs}}
    {{#if @index}}
        &middot; {{gram}}
    {{/if}}
{{/each}}
