
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1;
}
a:link, a:visited {
    color: inherit;
}

@import "components/ann.scss";
@import "components/src.scss";
@import "components/lang.scss";

